@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #F2F3F5;
  color: #333;
}
a {
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: lightsteelblue;
  }
}
ul {
  list-style: none;
}
img {
  margin-right: 15px;
}
.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.text-primary {
  color: #474D59;
}
.text-dark {
  color: black;
}
.text-success {
  color: palegreen;
}
.text-danger {
  color: red;
}
.text-center {
  text-align: center;
}
.header-toolbar{
  background-color: #474D59;
  color: white;
}
.header-spacer {
  flex: 0.95 1 auto;
}
.toggle-bar{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
