@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #F2F3F5;
  color: #333;
}
a {
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: lightsteelblue;
  }
}
.header-toolbar{
  display: flex;
  justify-content: space-between;
  background-color: #474D59;
  color: white;
}
.header_btn_favorite{
  left: -45px;
  .btn_img{
    margin-right: 10px;
  }
}
