<div>
  <app-header></app-header>
    <div class="main">
      <div class="container">
        <span class="toggle-bar" [style]="{'font-size': '24px'}">
          Latest Release
          <button appHoverClass="btn-primary" class="btn" (click)="toggle=!toggle">Change view</button>
        </span>
        <div class="changer main-body">
            <app-film [movies]="movies" [page]="page" [toggle]="toggle" ></app-film>
        </div>
        <ngb-pagination
          [(page)]="page"
          [pageSize]="20"
          [collectionSize]="length"
          (pageChange)="getDataEvent()"
          [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
          ><ng-template ngbPaginationFirst>First</ng-template>
          <ng-template ngbPaginationLast>Last</ng-template>
          <ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
          <ng-template ngbPaginationEllipsis>...</ng-template>
          <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
        </ngb-pagination>
      </div>
    </div>
</div>
