<div>
  <app-header></app-header>
    <div class="main">
      <div class="container">
        <span class="toggle-bar">
          <h1>Latest Release</h1>
          <button appHoverClass="btn-primary" class="btn" (click)="toggleClass($event)">Change view</button>
        </span>
        <div class="changer main-body">
            <app-film [movies]="movies" [page]="page"></app-film>
        </div>
        <!--<mat-paginator style-paginator showFirstLastButtons [length]="length"
                       [pageSize]="20"
                       [hidePageSize] = 'true'
                       (page)="getDataEvent($event)">
        </mat-paginator>-->
        <ul class="pagination">
          <li class="page-item"><a href="" class="page-link">First</a></li>
          <li class="page-item"><a href="" class="page-link">Prev</a></li>
          <li class="page-item"><a href="" class="page-link">1</a></li>
          <li class="page-item"><a href="" class="page-link">2</a></li>
          <li class="page-item"><a href="" class="page-link">3</a></li>
          <li class="page-item"><a href="" class="page-link">Next</a></li>
          <li class="page-item"><a href="" class="page-link">Last</a></li>
        </ul>
      </div>
    </div>
</div>
