<div>
  <app-header></app-header>
    <div class="main">
      <div class="container">
        <span class="toggle-bar">
          <h1>Latest Release</h1>
          <button appHoverClass="btn-primary" class="btn" (click)="toggleClass($event)">Change view</button>
        </span>
        <div class="changer main-body">
            <app-film [movies]="movies"></app-film>
        </div>
        <mat-paginator style-paginator showFirstLastButtons [length]="length"
                       [pageSize]="20"
                       [hidePageSize] = 'true'
                       (page)="getDataEvent($event)">
        </mat-paginator>
      </div>
    </div>
</div>
